body{
	background-image: linear-gradient(to right top, #2f0f07, #2a0f1b, #1d1425, #0d1825, #07191e);
	background-attachment: fixed;
	color: white;
}
body:before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    -webkit-transform-origin: top left;
    -webkit-filter: blur(20px);
    -webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
/*body *{
	outline: 1px solid yellow;
}*/
.full-height{
	height: 100vh;
}
.display-4{
	color: white;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 2rem;
	padding: 2rem 4rem;
	position: absolute;
	top: 0;
	left: 0;
}
.display-4 span:first-child{
	color: #F75C51;
	padding: 0.1rem 0.5rem;
}
.display-4 span:last-child{
	padding: 0.1rem 0.5rem;
}
input{
	border-radius: 0px !important;
}
.search-input{
	/*margin: 10rem 0rem;*/
	padding: 2rem;
	background: rgba(0,0,0,0.4);
}
.search-input input{
	/*background: rgba(247, 185, 140,0.7);*/
	color: lightgrey;
	background: none;
	border: 1px solid rgba(247, 185, 140,0.9);
	/*border: none;*/
	/*border-bottom: 0.5px solid #BFA6A2;*/
}
.search-input input:focus{
	background: none;
	border-color: #fff;
	color: #fff;
}
input.movie-search{
	font-size: 1.2rem;
}
.search-button{
	background: rgba(247, 92, 81,0.5);
	color: #fff;
	padding: 0.8rem 1.2rem;
	border-radius: 0px;
	border: 1px solid rgba(247, 185, 140,0.9);
	transition: all 0.25s ease;
}
.search-button:hover{
	background: #fff;
	color: rgba(247, 92, 81,0.5);
	font-weight: bold;
}
.search-outline-button{
	border: 1px solid whitesmoke;
	color: whitesmoke;
	border-radius: 0px;
	letter-spacing: 1px;
}
.search-outline-button:hover{
	background: rgba(247, 92, 81,0.5);
	border: 1px solid whitesmoke;
}
.input-group-text{
	background: rgba(247, 92, 81,0.5);
	/*border: none;*/
	border: 1px solid rgba(247, 185, 140,0.9);
	letter-spacing: 1px;
	color: #fff;
	/*border-bottom: 1px solid #F75C51;*/
	min-width: 75px;
}
.movie-info{
	color: #fff;
	background: rgba(0,0,0,0.7);
	margin: 4rem 1rem;
	width: 100%;
	/*height: 80vh;*/
}
#movie-card{
	display: none;
}
#movie-results{
	background: rgba(0,0,0,0.5);
}
.search-card{
	background: rgba(247, 92, 81,0.5);
	/*padding: 1rem;*/
	color:#fff;
	cursor: pointer;
}
.search-card .poster-container{
	height: 25vh;
}
.search-card img{
	height: 100%;
}
.search-title{
	line-height: 85%;
}
.movie-data{
	
}
.movie-poster{
	height: 100%;
}
.movie-name{
	font-size: 2rem;
	font-weight: lighter;
}
.full-width{
	width: 100%;
}
.pagination a{
	color: #fff;
	background: rgba(0,0,0,0.5);
}
.pagination a:hover{
	color: #fff;
	background: rgba(247, 185, 140,0.9);
}
.pagination li.active a{
	color: #fff !important;
	border-color: #fff !important; 
	background: rgba(247, 92, 81,0.5) !important;
}
hr {
	border: 0;
	clear:both;
	display:block;
	width: 96%;                
	background-color:#fff;
    height: 0.8px;
    background-image: linear-gradient(to right, #ccc, #ccc, #333);
}
.pagination li.disabled a{
	color: grey !important; 
	background: rgba(0,0,0,0.5) !important;
}
/*.movie-website*/ a{
	color: rgba(247, 185, 140,0.8);
}
a:hover{
	color: rgb(247, 185, 140);
}
.reduced-line-height{
	line-height: 95%;
}
footer{
	color: rgba(247, 185, 140,0.8);
	background: rgba(0,0,0,0.4);
}