body{
	background-image: linear-gradient(to right top, #2f0f07, #2a0f1b, #1d1425, #0d1825, #07191e);
	background-attachment: fixed;
	color: white;
	transition: all 1s ease-in-out;
}
body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    -webkit-transform-origin: top left;
    -webkit-filter: blur(20px);
    -webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
::selection {
    background: orange;
}
/*body *{
	outline: 1px solid yellow;
}*/
.full-height{
	height: 100vh;
}
.flex-grow{
	flex-grow: 1;
}
.display-4{
	color: white;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 2rem;
	padding: 2rem 4rem;
	position: absolute;
	top: 0;
	left: 0;
}
.display-4 span:first-child{
	color: #F75C51;
	padding: 0.1rem 0.5rem;
}
.display-4 span:last-child{
	padding: 0.1rem 0.5rem;
}
input{
	border-radius: 0px !important;
}
.search-input{
	/*margin: 10rem 0rem;*/
	padding: 2rem;
	background: rgba(0,0,0,0.4);
	-webkit-box-shadow: -15px 15px 39px -13px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 15px 39px -13px rgba(0,0,0,0.75);
box-shadow: -15px 15px 39px -13px rgba(0,0,0,0.75);
}
.search-input input{
	/*background: rgba(247, 185, 140,0.7);*/
	color: lightgrey;
	background: none;
	border: 1px solid rgba(247, 185, 140,0.9);
	/*border: none;*/
	/*border-bottom: 0.5px solid #BFA6A2;*/
}
.search-input input:focus{
	background: none;
	border-color: #fff;
	color: #fff;
}
input.movie-search{
	font-size: 1.2rem;
	/*border-left: 1px solid transparent;*/
}
.type-select{
	background: rgba(247, 185, 140,0.2);
	color: #fff;
	height: auto !important;
	border: 1px solid rgba(247, 185, 140,0.9);
	border-radius: 0px;
	transition: all 0.5s ease;
	/*border-right: 1px solid transparent;*/
}
.type-select option{
	background: rgba(0,0,0,0.8);
	color: #fff;
}
select.type-select option:hover {
	 box-shadow: 0 0 10px 100px #1882A8 inset;
}
.type-select:focus{
	outline: none;
	background: rgba(247, 92, 81,0.2);
	border: 1px solid rgba(247, 185, 140,0.9);
	border-right: 0px;
	color: #fff;	
}
.search-button{
	background: rgba(247, 92, 81,0.5);
	color: #fff;
	/*padding: 0.8rem 1.2rem;*/
	border-radius: 0px;
	border: 1px solid rgba(247, 185, 140,0.9);
	transition: all 0.5s ease;
}
.search-button:hover{
	background: #fff;
	color: rgba(247, 92, 81,0.5);
	font-weight: bold;
}
.search-outline-button{
	border: 1px solid rgba(247, 185, 140,0.9);
	color: whitesmoke;
	border-radius: 0px;
	letter-spacing: 1px;
	transition: all 0.5s ease;
}
.search-outline-button:hover{
	background: rgba(247, 92, 81,0.5);
	border: 1px solid rgba(247, 185, 140,0.9);
}
.input-group-text{
	background: rgba(247, 92, 81,0.5);
	/*border: none;*/
	border: 1px solid rgba(247, 185, 140,0.9);
	letter-spacing: 1px;
	color: #fff;
	/*border-bottom: 1px solid #F75C51;*/
	min-width: 75px;
}
.movie-info{
	color: #fff;
	background: rgba(0,0,0,0.7);
	margin-top: 4rem;
	width: 100%;
	/*height: 80vh;*/
}
#movie-card{
	display: none;
}
.detail-card{
	background: rgba(63,3,3,0.7);
}
.movie-details{
	word-break: break-all;
}
.detail-card .lead{
	font-weight: 300;
}
.awards-card{
	background: rgba(63, 25, 3, 0.7);
}
 .movie-rated img{
 	width: 5vw;
    height: auto;
 }
.movie-ratings{
	padding: 1rem 0rem;
	display: inline-flex;
	justify-content: center;
}
.movie-ratings small{
	color: lightgrey;
}
.rating-source-logo{
	height: 5vh;
	width: auto;
	filter: grayscale(1);
	transition: all 0.5s ease;
}
.rating-source-logo:hover{
	filter: grayscale(0);
}
.right-seperator{
	border-right: 0.5px solid grey; 
}
.right-seperator:last-child{
	border: none;
}
img.imbd{
	width: 4rem;
}
#movie-results{
	background: rgba(0,0,0,0.5);
}
#result-count{
	color: rgba(247, 185, 140,0.8);
	font-weight: 400;
}
.search-card{
	background: rgba(247, 92, 81,0.5);
	/*padding: 1rem;*/
	color:#fff;
	cursor: pointer;
}
.search-card img{
	height: 25vh;
	width: 100%;
}
.search-title{
	line-height: 85%;
}
.movie-data{
	padding-bottom: 8vh;
}
.movie-poster{
	height: 100%;
}
.movie-name{
	font-size: 2rem;
	font-weight: lighter;
}
.full-width{
	width: 100%;
}
.pagination a{
	color: #fff;
	background: rgba(0,0,0,0.5);
}
.pagination a:hover{
	color: #fff;
	background: rgba(247, 185, 140,0.9);
}
.pagination li.active a{
	color: #fff !important;
	border-color: #fff !important; 
	background: rgba(247, 92, 81,0.5) !important;
}
hr {
	border: 0;
	clear:both;
	display:block;
	width: 96%;                
	background-color:#fff;
    height: 0.8px;
    background-image: linear-gradient(to right, #ccc, #ccc, #333);
}
.pagination li.disabled a{
	color: grey !important; 
	background: rgba(0,0,0,0.5) !important;
}
/*.movie-website*/ a{
	color: rgba(247, 185, 140,0.8);
}
a:hover{
	color: rgb(247, 185, 140);
}
.reduced-line-height{
	line-height: 95%;
}
footer{
	color: rgba(247, 185, 140,0.8);
	background: rgba(247, 92, 81,0.2);
	margin-top: 5rem;
	-webkit-box-shadow: 0px -5px 57px -12px rgba(0,0,0,1);
	-moz-box-shadow: 0px -5px 57px -12px rgba(0,0,0,1);
	box-shadow: 0px -5px 57px -12px rgba(0,0,0,1);
	position: relative;
	bottom: 0;
}
footer i{
	transition: all 0.5s ease;
}
footer i.fab:hover{
	transform: scale(1.3);
}

/* Scrollbar */

/*width*/
::-webkit-scrollbar {
  width: 5px;
}

/*Track*/
::-webkit-scrollbar-track {
  background: grey;
}

/*Handle*/
::-webkit-scrollbar-thumb {
  background: rgba(247, 185, 140,0.8);
}

/*Handle on hover*/
::-webkit-scrollbar-thumb:hover {
  background: rgba(247, 92, 81,0.8);
}
/* end Scrollbar */

#toast {
    /*visibility: hidden;*/
    opacity: 0;
    /*display: none;*/
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(70,70,70);
    color: rgb(242, 65, 65);
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 2;
    right: 50px;
    bottom: 70%;
    font-size: 17px;
}
.loader{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	filter: invert(100%);
	display: none;
}
.loader img{
	height: 3vw;
	width: 3vw;
	margin: auto;
	-webkit-animation: rotation 2s infinite linear;
}
.loader .row{
	height: 100%;
}
.loader:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%; 
	z-index: -1;
	background: rgba(0,0,0,0.6);
	filter: invert(100%);
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}